.container{
	height: 600px;
	width:  100%;
	/*background-color: red;*/
}

.head{
	height: 200px;
	width: 100%;
	/*background-color: blue;*/
}


.body_factura{
	height: 200px;
	width: 100%;
	margin-top: 65px;

	/*background-color: blue;*/
}


.logo_empresa{
	height: 130px;
	width: 150px;
}
