.contenedorBusquedaModulo{
	width: 100%;
	height: 300px;	
	overflow: auto;	
}

.contenedorContenidoModulo{
	height: 70px;
	width: 300px;
	margin-top: 20px;
	margin-left: 90px;
	background-color: white;
	display:inline-block;
	box-shadow: 0px 0px 3px #000;
	background-color: #03a9f4;
	-webkit-transition:box-shadow 0.5s;
}

.contenedorContenidoModulo:hover{
	cursor: pointer;	
	box-shadow: 0px 0px 30px #000;	
}

.imgModuloBusqueda{
	height: 60px;
	width: 60px;
	border-radius: 100%;
	margin-top: 5px;
	margin-left: 10px;
	box-shadow: 0px 0px 10px #000;
	display: inline-block;
}

.textoModuloBusqueda{
	
	margin-left: 5px;
	color : white;
	display: inline-block;
}

.btn_add_element{
	height: 50px;
	width: 50px;
	background-color: green;
	border-radius: 100%;
	box-shadow: 0px 0px 3px #000; 
}

